{% extends "dashboard/css.html" %} 
{% load widget_tweaks %}
{% block title %}Force Detail{% endblock title %}

{% block content %} 

        <h1 class="text-2xl font-bold text-gray-800 mb-2 text-center">
            {{ m.rank }} - {{ m.name }} - {{ m.force }}
        </h1>

<main class="flex justify-center p-6 gap-4">

        <!-- Present Address Card -->
        <div class="bg-white shadow-sm rounded-md border border-gray-300 p-6 gap-4">
            <h2 class="text-xl font-semibold text-gray-700 mb-2 flex items-center gap-2 justify-center">🏠 Present Address</h2>
            <div class="space-y-1 text-sm text-gray-700">
                {% for label, value in present_dict.items %}
                <div class="flex justify-between border-b border-gray-300 px-4 py-2">
                    <span class="font-medium text-xl text-gray-600">{{ label }}:</span>
                    <span class="text-xl">{{ value|default:"—" }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Permanent Address Card -->
        <div class="bg-white shadow-sm rounded-md border border-gray-300 p-3">
            <h2 class="text-xl font-semibold text-gray-700 mb-2 flex items-center gap-2 justify-center">🏡 Permanent Address</h2>
            <div class="space-y-1 text-sm text-gray-700">
                {% for label, value in permanent_dict.items %}
                <div class="flex justify-between border-b border-gray-200 px-4 py-2">
                    <span class="font-medium text-xl text-gray-600">{{ label }}:</span>
                    <span class="text-xl">{{ value|default:"—" }}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Service Information Card -->
        <div class="bg-white shadow-sm rounded-md border border-gray-300 p-3">
            <h2 class="text-xl font-semibold text-gray-700 mb-2 flex items-center gap-2 justify-center">🛡️ Service Information</h2>
            <div class="space-y-1 text-sm text-gray-700">
                {% for label, value in service_dict.items %}
                <div class="flex justify-between border-b border-gray-200 px-4 py-2">
                    <span class="font-medium text-xl text-gray-600">{{ label }}:</span>
                    <span class="text-xl">{{ value|default:"—" }}</span>
                </div>
                {% endfor %}
            </div>
        </div>


        </main>
        <!-- Back Button -->
        <div class="bg-blue-700 text-center text-gray-200 text-xl mt-2">
            <a href="{% url 'force-detail' %}" class="inline-block bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 transition">
                Back 
            </a>
        </div>

    

{% endblock content %}
