{% extends "dashboard/css.html" %} 
{% load widget_tweaks %}

{% block title %}All Branches{% endblock title %}

{% block content %}
<main class="max-w-[800px] mx-auto p-6 bg-white rounded-sm">
    {% comment %} <h1 class="font-extrabold mb-8 text-gray-900 text-center">Go to All Branches</h1> {% endcomment %}

    <div class="flex flex-col gap-6 justify-center">
        <!-- Card 1 -->
        <div class=" grid grid-cols-1 bg-gradient-to-r from-pink-400 to-pink-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
           <a href="{% url 'company-member' %}">
             Total Manpower
           </a>
            
        </div>

        <!-- Card 2 --> 
       <a href="{% url 'force-detail' %}">
            <div class="bg-gradient-to-r from-purple-400 to-purple-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
            Posting
        </div>
        </a>
        

        <!-- Card 3 -->
         <a href="{% url 'duty_create' company='Bn HQ' %}">
        <div class="bg-gradient-to-r from-blue-400 to-blue-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
         Duty
        </div>
        </a>

        <!-- Card 4 -->
         <a href="#">
        <div class="bg-gradient-to-r from-blue-400 to-blue-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
         parade static
        </div>
        </a>

        {% comment %} <!-- Card 5 -->
        <div class="bg-gradient-to-r from-yellow-400 to-yellow-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
            Mi Branch
        </div> {% endcomment %}

        {% comment %} <!-- Card 6 -->
        <div class="bg-gradient-to-r from-orange-400 to-orange-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
            Mt
        </div> {% endcomment %}

        <!-- Card 7 -->
        {% comment %} <div class="bg-gradient-to-r from-red-400 to-red-600 font-semibold text-4xl py-6 rounded-xl shadow-xl transform hover:scale-105 hover:shadow-2xl transition-all duration-300 cursor-pointer text-left px-6">
            Other Branch
        </div> {% endcomment %} 
    </div>
</main>
{% endblock content %}
