{% extends "admin/dashboard.html" %}
{% load widget_tweaks %}
{% block content %} 

    <main class="w-2/3 mx-auto mt-8"> 

      <h2 class="text-2xl text-center text-teal-500 font-bold mb-4">Groups and Permissions</h2>
      <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead>
            <tr class="bg-gray-100">
              <th class=" text-green-400 border border-gray-300 px-4 py-2">Group Name</th>
              <th class="text-green-400 border border-gray-300 px-4 py-2">Permissions</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
                      
            <tr class="odd:bg-white even:bg-gray-50">
              <td class="text-xl text-sky-600 border border-gray-300 px-4 py-2 font-medium">
                {{group.name}}
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <ul class="list-disc list-inside">
                  {% for permission in group.permissions.all %}
                    <li>{{permission.name}}|{{permission.codename}}</li> 
                    {% empty %} 
                    <span class="text-gray-500 italic">No permission assigned</span>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  
{% endblock %}