{% extends "dashboard/css.html" %} 
{% load widget_tweaks %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<main class="max-w-[1400px] mx-auto p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

    <!-- CPC-1 -->
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-blue-800 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='CPC-1' %}"> 
      <div>         
        <h3 class="text-2xl font-bold mb-2">CPC-1</h3>
        <p>Sector-2, Uttara,</p>
        <p>Dhaka-1230</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-sky-400 flex items-center justify-center">
        <a href="{% url 'duty_create' company='CPC-1' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-rose-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
        </a>
      </div> 
      </a>
    </div>

    <!-- CPC-2 -->
    <div class="bg-blue-100 text-blue-800 font-semibold p-6 rounded-3xl shadow-md border border-blue-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='CPC-2' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">CPC-2</h3>
        <p>Sector-2, Uttara,</p>
        <p>Dhaka-1230</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-blue-200 flex items-center justify-center">
        <a href="{% url 'duty_create' company='CPC-2' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
        </a>
      </div> 
    </a>
    </div>

    <!-- CPC-3 -->
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-green-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='CPC-3' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">CPC-3</h3>
        <p>Rooppur, Purbachal,</p>
        <p>Narayanganj</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-green-200 flex items-center justify-center">
        <a href="{% url 'duty_create' company='CPC-3' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
      </a>
      </div> 
    </a>
    </div>

    <!-- CPSC -->
    <div class="bg-blue-100 text-blue-800 font-semibold p-6 rounded-3xl shadow-md border border-yellow-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='CPSC' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">CPSC</h3>
         <p>Purabari, Salna,</p>
        <p>Gazipur</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-yellow-200 flex items-center justify-center">
        <a href="{% url 'duty_create' company='CPSC' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
        </a>
      </div> 
      </a>
    </div>

    <!-- HQ -->
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-indigo-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='HQ' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">HQ</h3>
        <p>Main Headquarters</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-indigo-200 flex items-center justify-center"> 
       <a href="{% url 'duty_create' company='HQ' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
      </a>
      </div> 
    </a>
    </div>

    <!-- Bn HQ -->
      
    <div class="bg-pink-100 text-pink-800 font-semibold p-6 rounded-3xl shadow-md border border-pink-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'br' %}" > 
      <div>
        <h3 class="text-2xl font-bold mb-2">Bn HQ</h3>
        <p>Battalion Headquarters</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-pink-200 flex items-center justify-center">
        <a href="{% url 'force-bio' %}">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-pink-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </a>
        
      </div>
       </a>
    </div>
   

    <!-- ACCT_BR -->
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-teal-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="#">
      <div>
        <h3 class="text-2xl font-bold mb-2">Acct_Br</h3>
        <p>Accounting Branch</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-teal-200 flex items-center justify-center">
        <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-teal-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
        </a>
      </div>
      </a>
    </div>

    <!-- RO -->
    <div class="bg-blue-100 text-blue-800 font-semibold p-6 rounded-3xl shadow-md border border-orange-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <div>
        <h3 class="text-2xl font-bold mb-2">RO</h3>
        <p>Regional Office</p>
      </div>
      <a href="{% url 'ro-create' %}" class="p-4 rounded-full shadow-md bg-orange-200 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-orange-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
      </a>
    </div>

    <!-- MI -->
  
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-purple-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'miroom_visit_list' %}" > 
      <div >
        <h3 class="text-2xl font-bold mb-2">Mi</h3>
        <p>Sector-2, Uttara,</p>
        <p>Dhaka</p>
      </div>
      <a href="{% url 'miroom_visit_create' %}" class="p-4 rounded-full shadow-md bg-purple-200 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
      </a>
      </a>
    </div>

    <!-- A Branch -->
    <div class="bg-blue-100 text-blue-800 font-semibold p-6 rounded-3xl shadow-md border border-cyan-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
     <a href="{% url 'cpc' company='A Branch' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">A Branch</h3>
        <p>Administrative Branch</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-cyan-200 flex items-center justify-center">
        <a>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-cyan-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
      </a>
      </div>
    </a>
    </div>

    <!-- MT Sec -->
    <div class="bg-green-100 text-green-800 font-semibold p-6 rounded-3xl shadow-md border border-teal-200 hover:shadow-lg hover:scale-105 transition-transform duration-300 flex items-center justify-between">
      <a href="{% url 'cpc' company='MT' %}">
      <div>
        <h3 class="text-2xl font-bold mb-2">MT Sec</h3>
        <p>Driving Section</p>
      </div>
      <div class="p-4 rounded-full shadow-md bg-teal-200 flex items-center justify-center">
        <a href="{% url 'duty_create' company='MT' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-teal-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg> 
      </a>
      </div>
    </a>
    </div>

  </div>
</main>
{% endblock content %}
