{% extends "registration/base.html" %}  
{% load static %}
{% block content %} 
<main class="min-h-screen relative">
                
                <div class="w-full">
                    {% if request.user.is_authenticated %}
                        {% include "logged_nav.html" %}
                    {% else %}
                        {% include "non_logged_nav.html" %}
                    {% endif %}
                </div>
                
     <div class="absolute inset-0 bg-cover bg-center"
         style="background-image: url('{% static 'images/ra.jpg' %}');"></div>

        <!-- Policies / Objectives Section -->
    <section class="py-16 relative z-10">
        <div class="max-w-5xl mx-auto px-6">
            <!-- Section Title -->
            <h2 class="text-4xl font-bold text-green-900 mb-6 text-center">মূল নীতি ও উদ্দেশ্য</h2>
            
            <!-- Bullet Points -->
            <ul class="list-disc list-inside space-y-3 text-green-900 font-bold drop-shadow-2xl text-base">
                <li>আইনশৃঙ্খলা রক্ষা – দেশের আইন লঙ্ঘনকারীদের বিরুদ্ধে দ্রুত ও কার্যকর পদক্ষেপ নেওয়া।</li>
                <li>গণমানুষের নিরাপত্তা নিশ্চিত করা – সন্ত্রাস, জঙ্গি কার্যক্রম, চোরাচালান ও মাদকদ্রব্য নিয়ন্ত্রণ করা।</li>
                <li>নিরপেক্ষ ও ন্যায়সংগত অভিযান – সকলের প্রতি সমানভাবে আইন প্রয়োগ নিশ্চিত করা।</li>
                <li>দ্রুত প্রতিক্রিয়া – জরুরি পরিস্থিতিতে দ্রুত আইনগত পদক্ষেপ গ্রহণ করা।</li>
                <li>সেবা ও জননিরাপত্তা – সাধারণ মানুষকে নিরাপত্তার নিশ্চয়তা দেওয়া।</li>
            </ul>            
            <!-- Summary -->
            <p class="mt-6 text-lime-900 font-bold drop-shadow-2xl">💡 সংক্ষেপে বলা যায়, র‌্যাবের মূল নীতি হলো “দ্রুত, কার্যকর ও ন্যায়সংগতভাবে আইন শৃঙ্খলা রক্ষা করা এবং জনগণের নিরাপত্তা নিশ্চিত করা।</p>
        </div>
    </section>

</main>

{% include "footer_nav.html" %} 
{% endblock content %}