{% load static %}

<header> 
   
    <!-- Optional Overlay -->
    {% comment %} <div class="absolute inset-0 bg-black/30"></div> {% endcomment %}

    <!-- Content -->
    <div class="relative z-10">

        <!-- Navbar -->
        <nav class="bg-purple-200 bg-opacity-90 shadow-md">
            <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
                <h1 class="flex items-baseline font-bold">
                    <span class="text-8xl text-indigo-600 leading-none">R</span>
                    <span class="text-xl text-blue-900 ml-1">AB-1</span>
                </h1>  


                 <!-- Center: Text + Search Box -->
                 <div class="flex flex-row justify-center flex-1 mx-6 gap-5">
                        <a  href="#" class="text-lg font-semibold text-indigo-400 mb-1">Responsible Area&#9662;</a>
                    <input 
                        type="text" 
                        placeholder="Search..." 
                        class="w-64 px-3 py-1.5 rounded-lg border border-green-600 focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-800"
                        >
                    </div>

                    <!-- Right: Login / Sign Up -->
    <div class="space-x-4">
        <a href="{% url 'sign-in' %}" class="bg-indigo-600 text-white px-4 py-1.5 rounded-lg font-semibold hover:bg-green-900">
            Login
        </a>
        <a href="{% url 'sign-up' %}" class="bg-indigo-600 text-white px-4 py-1.5 rounded-lg hover:bg-green-700 transition">
            Sign Up
        </a>
    </div>

    </div>
    </nav>
</header>