{% extends "dashboard/css.html" %} 
{% load widget_tweaks %}
{% block title %}MI Room Daily Report{% endblock %}

{% block content %}
<main class="p-6 space-y-6">

    <div class="text-center mb-6">
    <h1 class="inline-block bg-blue-500 text-white text-3xl font-bold hover:bg-amber-300 cursor-pointer p-6 rounded">
        Mi Daily Report
    </h1>
    </div>

   {% for date, data in grouped_data.items %}
<div class="bg-white p-5 rounded-xl shadow-md mb-6">

    <h2 class="flex-cols-2 text-xl font-bold mb-4 p-6 text-right">
        <p>{{ date }} </p>
        <p class="text-2xl">Total Visits = {{ data|length }}</p>
    </h2>

    <div class="overflow-x-auto">
        <table class="w-full border border-gray-300 table-auto">
            <thead class="bg-blue-600 text-white text-center text-xl">
                <tr>
                    <th class="p-3 border ">Ser</th>
                    <th class="p-2 border ">Per No</th>
                    <th class="p-2 border ">Rank</th>
                    <th class="p-2 border ">Name</th>
                    <th class="p-2 border ">Force</th>
                    <th class="p-2 border ">Symptoms</th>
                    <th class="p-2 border">Treatment</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in data.items %}
                <tr class="border text-base hover:bg-sky-400">
                    <td class="p-2 border text-center">{{ forloop.counter }}</td>
                    <td class="p-2 border text-center">{{ visit.member.no }}</td>
                    <td class="p-2 border text-center">{{ visit.member.get_rank_display }}</td>
                    <td class="p-2 border">{{ visit.member.name }}</td>
                    <td class="p-2 border text-center">{{ visit.member.force }}</td>
                    <td class="p-2 border">{{ visit.symptoms }}</td>
                    <td class="p-2 border">{{ visit.treatment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

</main>
{% endblock %}
